<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script type="text/javascript">
Kakao.init('44b830e97af8b816c19ec6fda73e5d24');
Kakao.Auth.setAccessToken('{{access_token}}');
  Kakao.API.request({
  url: '/v1/user/unlink',
  success: function(response) {
    console.log(response);
  },
  fail: function(error) {
    console.log(error);
  },
});

window.location.href = "/user/signup"
</script>



</body>
</html>